.blocks:before,
.blocks:after {
  content: " ";
  display: table; }

.blocks:after {
  clear: both; }

.block-aside:first-child:last-child {
  float: right; }

.block-main {
  width: 62.2%;
  float: left; }
  .block-main + .block-aside {
    float: right; }

.block-aside {
  width: 37.25%;
  float: left; }
  .block-aside + .block-main {
    float: right; }

.block-half {
  width: 50%;
  float: left; }
  .block-half + .block-half {
    float: right; }

img {
  max-width: 100%; }

#map {
  min-height: 200px;
  height: 80vh; }
